CobDiameter-MainEffect-mf.bgo
CobDiameter-Slope-mf.bgo
CobWeight-MainEffect-mf.bgo
CobWeight-Slope-mf.bgo
CobWeight-VarE-mf.bgo
DaysToTassel-MainEffect-mf.bgo
DaysToTassel-Slope-mf.bgo
DaysToTassel-VarE-mf.bgo
DaystoSilk-MainEffect-mf.bgo
DaystoSilk-Slope-mf.bgo
DaystoSilk-VarE-mf.bgo
EarDiameter-MainEffect-mf.bgo
EarDiameter-Slope-mf.bgo
EarHeight-MainEffect-mf.bgo
EarHeight-Slope-mf.bgo
EarHeight-VarE-mf.bgo
EarLength-MainEffect-mf.bgo
EarLength-Slope-mf.bgo
EarLength-VarE-mf.bgo
EarRankNumber-MainEffect-mf.bgo
EarRankNumber-Slope-mf.bgo
EarRowNumber-MainEffect-mf.bgo
EarRowNumber-VarE-mf.bgo
EarWeight-MainEffect-mf.bgo
EarWeight-Slope-mf.bgo
EarWeight-VarE-mf.bgo
GDDAnthesisSilkingInterval-MainEffect-mf.bgo
GDDAnthesisSilkingInterval-Slope-mf.bgo
GDDAnthesisSilkingInterval-VarE-mf.bgo
GDDDaystoSilk-MainEffect-mf.bgo
GDDDaystoSilk-Slope-mf.bgo
GDDDaystoSilk-VarE-mf.bgo
GDDDaystoTassel-MainEffect-mf.bgo
GDDDaystoTassel-Slope-mf.bgo
GDDDaystoTassel-VarE-mf.bgo
HeightAboveEar-MainEffect-mf.bgo
HeightAboveEar-Slope-mf.bgo
HeightAboveEar-VarE-mf.bgo
KernelDepth-MainEffect-mf.bgo
KernelDepth-Slope-mf.bgo
KernelDepth-VarE-mf.bgo
LeafLength-MainEffect-mf.bgo
LeafLength-VarE-mf.bgo
LeafWidth-MainEffect-mf.bgo
LeafWidth-Slope-mf.bgo
LeafWidth-VarE-mf.bgo
MiddleLeafAngle-MainEffect-mf.bgo
MiddleLeafAngle-Slope-mf.bgo
PlantHeight-MainEffect-mf.bgo
PlantHeight-Slope-mf.bgo
PlantHeight-VarE-mf.bgo
TasselLength-MainEffect-mf.bgo
TasselLength-Slope-mf.bgo
TasselLength-VarE-mf.bgo
TasselPrimaryBranches-MainEffect-mf.bgo
TasselPrimaryBranches-Slope-mf.bgo
TasselPrimaryBranches-VarE-mf.bgo
TotalKernelVolume-MainEffect-mf.bgo
TotalKernelVolume-Slope-mf.bgo
TotalKernelVolume-VarE-mf.bgo
UpperLeafAngle-MainEffect-mf.bgo
UpperLeafAngle-Slope-mf.bgo
UpperLeafAngle-VarE-mf.bgo
