.Rproj.user
.Rhistory
.RData
.Ruserdata
QuickLM-Parallel.cpp
trait-correlations.R
QuickLM.cpp
QuickLM2-Parallel.cpp
TODO
compare.R
correlation-plots.R
crossovers.R
explore_vare.R
farm-cpu.R
farm-gwas.sh
manhattan_plot.R
measure_by_phenotype.png
nam_ld.ld
nam_ld.log
nam_ld.nosex
new-test.log
overlaps_percent.png
pleio.R
ppi_explo.R
runtimes.txt
sig_var_plots.pdf
sources.R
temp.png
test_gwas.R
doc
README.html
