CobDiameter-MainEffect.sif
CobDiameter-Slope.sif
CobWeight-MainEffect.sif
CobWeight-Slope.sif
CobWeight-VarE.sif
DaysToTassel-MainEffect.sif
DaysToTassel-Slope.sif
DaysToTassel-VarE.sif
DaystoSilk-MainEffect.sif
DaystoSilk-Slope.sif
DaystoSilk-VarE.sif
EarDiameter-MainEffect.sif
EarDiameter-Slope.sif
EarHeight-MainEffect.sif
EarHeight-Slope.sif
EarHeight-VarE.sif
EarLength-MainEffect.sif
EarLength-Slope.sif
EarLength-VarE.sif
EarRankNumber-MainEffect.sif
EarRankNumber-Slope.sif
EarRowNumber-MainEffect.sif
EarRowNumber-Slope.sif
EarRowNumber-VarE.sif
EarWeight-MainEffect.sif
EarWeight-Slope.sif
EarWeight-VarE.sif
GDDAnthesisSilkingInterval-MainEffect.sif
GDDAnthesisSilkingInterval-Slope.sif
GDDAnthesisSilkingInterval-VarE.sif
GDDDaystoSilk-MainEffect.sif
GDDDaystoSilk-Slope.sif
GDDDaystoSilk-VarE.sif
GDDDaystoTassel-MainEffect.sif
GDDDaystoTassel-Slope.sif
GDDDaystoTassel-VarE.sif
HeightAboveEar-MainEffect.sif
HeightAboveEar-Slope.sif
HeightAboveEar-VarE.sif
KernelDepth-MainEffect.sif
KernelDepth-Slope.sif
KernelDepth-VarE.sif
LeafLength-MainEffect.sif
LeafLength-Slope.sif
LeafLength-VarE.sif
LeafWidth-MainEffect.sif
LeafWidth-Slope.sif
LeafWidth-VarE.sif
MiddleLeafAngle-MainEffect.sif
MiddleLeafAngle-Slope.sif
MiddleLeafAngle-VarE.sif
PlantHeight-MainEffect.sif
PlantHeight-Slope.sif
PlantHeight-VarE.sif
TasselLength-MainEffect.sif
TasselLength-Slope.sif
TasselLength-VarE.sif
TasselPrimaryBranches-MainEffect.sif
TasselPrimaryBranches-Slope.sif
TasselPrimaryBranches-VarE.sif
TotalKernelVolume-MainEffect.sif
TotalKernelVolume-Slope.sif
TotalKernelVolume-VarE.sif
UpperLeafAngle-MainEffect.sif
UpperLeafAngle-Slope.sif
UpperLeafAngle-VarE.sif
aggregate.sif
batches.txt
