residuals-CobDiameter.png
residuals-CobWeight.png
residuals-DaysToTassel.png
residuals-DaystoSilk.png
residuals-EarDiameter.png
residuals-EarHeight.png
residuals-EarLength.png
residuals-EarRankNumber.png
residuals-EarRowNumber.png
residuals-EarWeight.png
residuals-GDDAnthesisSilkingInterval.png
residuals-GDDDaystoSilk.png
residuals-GDDDaystoTassel.png
residuals-HeightAboveEar.png
residuals-KernelDepth.png
residuals-LeafLength.png
residuals-LeafWidth.png
residuals-MiddleLeafAngle.png
residuals-PlantHeight.png
residuals-TasselLength.png
residuals-TasselPrimaryBranches.png
residuals-TotalKernelVolume.png
residuals-UpperLeafAngle.png
