CobDiameter-MainEffect-cc.bgo
CobDiameter-Slope-cc.bgo
CobWeight-MainEffect-cc.bgo
CobWeight-Slope-cc.bgo
CobWeight-VarE-cc.bgo
DaysToTassel-MainEffect-cc.bgo
DaysToTassel-Slope-cc.bgo
DaysToTassel-VarE-cc.bgo
DaystoSilk-MainEffect-cc.bgo
DaystoSilk-Slope-cc.bgo
DaystoSilk-VarE-cc.bgo
EarDiameter-MainEffect-cc.bgo
EarDiameter-Slope-cc.bgo
EarHeight-MainEffect-cc.bgo
EarHeight-Slope-cc.bgo
EarHeight-VarE-cc.bgo
EarLength-MainEffect-cc.bgo
EarLength-Slope-cc.bgo
EarLength-VarE-cc.bgo
EarRankNumber-MainEffect-cc.bgo
EarRankNumber-Slope-cc.bgo
EarRowNumber-MainEffect-cc.bgo
EarRowNumber-VarE-cc.bgo
EarWeight-MainEffect-cc.bgo
EarWeight-Slope-cc.bgo
EarWeight-VarE-cc.bgo
GDDAnthesisSilkingInterval-MainEffect-cc.bgo
GDDAnthesisSilkingInterval-Slope-cc.bgo
GDDAnthesisSilkingInterval-VarE-cc.bgo
GDDDaystoSilk-MainEffect-cc.bgo
GDDDaystoSilk-Slope-cc.bgo
GDDDaystoSilk-VarE-cc.bgo
GDDDaystoTassel-MainEffect-cc.bgo
GDDDaystoTassel-Slope-cc.bgo
GDDDaystoTassel-VarE-cc.bgo
HeightAboveEar-MainEffect-cc.bgo
HeightAboveEar-Slope-cc.bgo
HeightAboveEar-VarE-cc.bgo
KernelDepth-MainEffect-cc.bgo
KernelDepth-Slope-cc.bgo
KernelDepth-VarE-cc.bgo
LeafLength-MainEffect-cc.bgo
LeafLength-VarE-cc.bgo
LeafWidth-MainEffect-cc.bgo
LeafWidth-Slope-cc.bgo
LeafWidth-VarE-cc.bgo
MiddleLeafAngle-MainEffect-cc.bgo
MiddleLeafAngle-Slope-cc.bgo
PlantHeight-MainEffect-cc.bgo
PlantHeight-Slope-cc.bgo
PlantHeight-VarE-cc.bgo
TasselLength-MainEffect-cc.bgo
TasselLength-Slope-cc.bgo
TasselLength-VarE-cc.bgo
TasselPrimaryBranches-MainEffect-cc.bgo
TasselPrimaryBranches-Slope-cc.bgo
TasselPrimaryBranches-VarE-cc.bgo
TotalKernelVolume-MainEffect-cc.bgo
TotalKernelVolume-Slope-cc.bgo
TotalKernelVolume-VarE-cc.bgo
UpperLeafAngle-MainEffect-cc.bgo
UpperLeafAngle-Slope-cc.bgo
UpperLeafAngle-VarE-cc.bgo
