CobDiameter-Gibbssamps.rda
CobDiameter_IQR-Gibbssamps.rda
CobWeight-Gibbssamps.rda
CobWeight_IQR-Gibbssamps.rda
DaysToTassel-Gibbssamps.rda
DaysToTassel_IQR-Gibbssamps.rda
DaystoSilk-Gibbssamps.rda
DaystoSilk_IQR-Gibbssamps.rda
DaystoSilk_IQR_wHsamps.rda
EarDiameter-Gibbssamps.rda
EarDiameter_IQR-Gibbssamps.rda
EarHeight-Gibbssamps.rda
EarHeight_IQR-Gibbssamps.rda
EarLength-Gibbssamps.rda
EarLength_IQR-Gibbssamps.rda
EarRankNumber-Gibbssamps.rda
EarRankNumber_IQR-Gibbssamps.rda
EarRowNumber-Gibbssamps.rda
EarRowNumber_IQR-Gibbssamps.rda
EarWeight-Gibbssamps.rda
EarWeight_IQR-Gibbssamps.rda
GDDAnthesisSilkingInterval-Gibbssamps.rda
GDDAnthesisSilkingInterval_IQR-Gibbssamps.rda
GDDDaystoSilk-Gibbssamps.rda
GDDDaystoSilk_IQR-Gibbssamps.rda
GDDDaystoTassel-Gibbssamps.rda
GDDDaystoTassel_IQR-Gibbssamps.rda
HeightAboveEar-Gibbssamps.rda
HeightAboveEar_IQR-Gibbssamps.rda
KernelDepth-Gibbssamps.rda
KernelDepth_IQR-Gibbssamps.rda
LeafLength-Gibbssamps.rda
LeafLength_IQR-Gibbssamps.rda
LeafWidth-Gibbssamps.rda
LeafWidth_IQR-Gibbssamps.rda
MiddleLeafAngle-Gibbssamps.rda
MiddleLeafAngle_IQR-Gibbssamps.rda
PlantHeight-Gibbssamps.rda
PlantHeight_IQR-Gibbssamps.rda
TasselLength-Gibbssamps.rda
TasselLength_IQR-Gibbssamps.rda
TasselPrimaryBranches-Gibbssamps.rda
TasselPrimaryBranches_IQR-Gibbssamps.rda
TotalKernelVolume-Gibbssamps.rda
TotalKernelVolume_IQR-Gibbssamps.rda
UpperLeafAngle-Gibbssamps.rda
UpperLeafAngle_IQR-Gibbssamps.rda
