CobDiameter-MainEffect-bp.bgo
CobDiameter-Slope-bp.bgo
CobWeight-MainEffect-bp.bgo
CobWeight-Slope-bp.bgo
CobWeight-VarE-bp.bgo
DaysToTassel-MainEffect-bp.bgo
DaysToTassel-Slope-bp.bgo
DaysToTassel-VarE-bp.bgo
DaystoSilk-MainEffect-bp.bgo
DaystoSilk-Slope-bp.bgo
DaystoSilk-VarE-bp.bgo
EarDiameter-MainEffect-bp.bgo
EarDiameter-Slope-bp.bgo
EarHeight-MainEffect-bp.bgo
EarHeight-Slope-bp.bgo
EarHeight-VarE-bp.bgo
EarLength-MainEffect-bp.bgo
EarLength-Slope-bp.bgo
EarLength-VarE-bp.bgo
EarRankNumber-MainEffect-bp.bgo
EarRankNumber-Slope-bp.bgo
EarRowNumber-MainEffect-bp.bgo
EarRowNumber-VarE-bp.bgo
EarWeight-MainEffect-bp.bgo
EarWeight-Slope-bp.bgo
EarWeight-VarE-bp.bgo
GDDAnthesisSilkingInterval-MainEffect-bp.bgo
GDDAnthesisSilkingInterval-Slope-bp.bgo
GDDDaystoSilk-MainEffect-bp.bgo
GDDDaystoSilk-Slope-bp.bgo
GDDDaystoSilk-VarE-bp.bgo
GDDDaystoTassel-MainEffect-bp.bgo
GDDDaystoTassel-Slope-bp.bgo
GDDDaystoTassel-VarE-bp.bgo
HeightAboveEar-MainEffect-bp.bgo
HeightAboveEar-Slope-bp.bgo
HeightAboveEar-VarE-bp.bgo
KernelDepth-MainEffect-bp.bgo
KernelDepth-Slope-bp.bgo
KernelDepth-VarE-bp.bgo
LeafLength-MainEffect-bp.bgo
LeafLength-VarE-bp.bgo
LeafWidth-MainEffect-bp.bgo
LeafWidth-Slope-bp.bgo
LeafWidth-VarE-bp.bgo
MiddleLeafAngle-MainEffect-bp.bgo
MiddleLeafAngle-Slope-bp.bgo
PlantHeight-MainEffect-bp.bgo
PlantHeight-Slope-bp.bgo
PlantHeight-VarE-bp.bgo
TasselLength-MainEffect-bp.bgo
TasselLength-Slope-bp.bgo
TasselLength-VarE-bp.bgo
TasselPrimaryBranches-MainEffect-bp.bgo
TasselPrimaryBranches-Slope-bp.bgo
TasselPrimaryBranches-VarE-bp.bgo
TotalKernelVolume-MainEffect-bp.bgo
TotalKernelVolume-Slope-bp.bgo
TotalKernelVolume-VarE-bp.bgo
UpperLeafAngle-MainEffect-bp.bgo
UpperLeafAngle-Slope-bp.bgo
UpperLeafAngle-VarE-bp.bgo
