Biological.Process-go-overlap.png
Cellular.Component-go-overlap.png
Molecular.Function-go-overlap.png
dispersion.png
fig1-dispersion.pdf
fig2-mean-pve.pdf
fig3-measure-wallace.pdf
fig4-overlaps.pdf
flowering-disp.png
gene-overlap.png
make-figures.sh
mean-pve.png
measure-percentages.png
pve.png
snp-overlap.png
wallace-overlaps.png
windows.png
