DaystoSilk_sig.hmp.txt
DaystoSilk_sig.txt
geno_2M.hmp.txt
geno_2M.stat
geno_2M_chr01.hmp.txt
geno_2M_chr02.hmp.txt
geno_2M_chr03.hmp.txt
geno_2M_chr04.hmp.txt
geno_2M_chr05.hmp.txt
geno_2M_chr06.hmp.txt
geno_2M_chr07.hmp.txt
geno_2M_chr08.hmp.txt
geno_2M_chr09.hmp.txt
geno_2M_chr10.hmp.txt
nam_indiv_miss
