FarmCPU.cpp.HeightAboveEarMainEffect.CVeffect.csv
FarmCPU.cpp.HeightAboveEarMainEffect.GWAS.Results.csv
FarmCPU.cpp.HeightAboveEarMainEffect.Manhattan.Plot.Genomewise.pdf
FarmCPU.cpp.HeightAboveEarMainEffect.QQ-Plot.pdf
dataforAaron_IQR.txt
ddddd.log
dddddd.R
geno_2M.bin
geno_2M.desc
geno_2M.xmat
geno_2M_pointer.desc
genotypes_to_keep.txt
li_et_al_snps.xls
means.DTSMean.CV.csv
means.DTSMean.GWAS.csv
means.DTSSlope.CV.csv
means.DTSSlope.GWAS.csv
nam282_traitMatrix_filtered.txt
nam282_traitMatrix_rownames.txt
nam3pc.qcovar
overlap-permutations-MainEffect.rds
overlap-permutations-Slope.rds
overlap-permutations-VarE.rds
overlap-permutations-iqr-MainEffect.rds
overlap-permutations-iqr-Slope.rds
overlap-permutations-iqr-VarE.rds
phenotypes_to_keep.txt
r2.png
snp-annotations.rds
snp_merged_chr1.info
snp_merged_chr10.info
snp_merged_chr2.info
snp_merged_chr3.info
snp_merged_chr4.info
snp_merged_chr5.info
snp_merged_chr6.info
snp_merged_chr7.info
snp_merged_chr8.info
snp_merged_chr9.info
sorghum_maize_syntenic_genes.from.James.05132013.txt
tidy_traitMatrix.rds
tidy_traitMatrix_IQR.rds
tidy_traitMatrix_IQR_AK.rds
traitMatrix_maize282NAM_v15-130212.txt
ZmB73_5b_FGS.gff
covariates6k.rds
geno_2M.map
ATH_GO_SLIM2.txt
MNaseHS.Ranges.CrossMap.bed
MNaseHS.Root.bed
Wallace_etal_2014_PLoSGenet_GWAS_hits-150112.txt
ZmB73_5b_FGS_info.txt
Zm_ppi.sif
at_orthologs.csv
floweringcv_qtl.csv
