candidate_genes.csv
correlation_CobDiameter.png
correlation_CobWeight.png
correlation_DaysToTassel.png
correlation_DaystoSilk.png
correlation_EarDiameter.png
correlation_EarHeight.png
correlation_EarLength.png
correlation_EarRankNumber.png
correlation_EarRowNumber.png
correlation_EarWeight.png
correlation_GDDAnthesisSilkingInterval.png
correlation_GDDDaystoSilk.png
correlation_GDDDaystoTassel.png
correlation_HeightAboveEar.png
correlation_KernelDepth.png
correlation_LeafLength.png
correlation_LeafWidth.png
correlation_MiddleLeafAngle.png
correlation_PlantHeight.png
correlation_TasselLength.png
correlation_TasselPrimaryBranches.png
correlation_TotalKernelVolume.png
correlation_UpperLeafAngle.png
dist_CobDiameter.png
dist_CobWeight.png
dist_DaysToTassel.png
dist_DaystoSilk.png
dist_EarDiameter.png
dist_EarHeight.png
dist_EarLength.png
dist_EarRankNumber.png
dist_EarRowNumber.png
dist_EarWeight.png
dist_GDDAnthesisSilkingInterval.png
dist_GDDDaystoSilk.png
dist_GDDDaystoTassel.png
dist_HeightAboveEar.png
dist_KernelDepth.png
dist_LeafLength.png
dist_LeafWidth.png
dist_MiddleLeafAngle.png
dist_PlantHeight.png
dist_TasselLength.png
dist_TasselPrimaryBranches.png
dist_TotalKernelVolume.png
dist_UpperLeafAngle.png
env-vs-sigmab.png
figs1-ld-decay.png
figs2a-gen-cor.png
figs2b-gen-cor.png
figs2c-gen-cor.png
figs2d-gen-cor.png
figs3-pca-scatterplot.png
figs4-flowering-disp.png
figs5-pve.png
figs6a-CobDiameter.png
figs6b-CobWeight.png
figs6c-DaystoSilk.png
figs6d-DaysToTassel.png
figs6e-EarDiameter.png
figs6f-EarHeight.png
figs6g-EarLength.png
figs6h-EarRankNumber.png
figs6i-EarRowNumber.png
figs6j-EarWeight.png
figs6k-GDDAnthesisSilkingInterval.png
figs6l-GDDDaystoSilk.png
figs6m-GDDDaystoTassel.png
figs6n-HeightAboveEar.png
figs6o-KernelDepth.png
figs6p-LeafLength.png
figs6q-LeafWidth.png
figs6r-MiddleLeafAngle.png
figs6s-PlantHeight.png
figs6t-TasselLength.png
figs6u-TasselPrimaryBranches.png
figs6v-TotalKernelVolume.png
figs6w-UpperLeafAngle.png
gen_cor1.png
gen_cor2.png
gen_cor3.png
gen_cor4.png
measure-Biological.Process-enrichment.csv
measure-Cellular.Component-enrichment.csv
measure-Molecular.Function-enrichment.csv
pca-scatterplot.png
ppi_biological_process_enrichment.csv
ppi_cellular_component_enrichment.csv
ppi_molecular_function_enrichment.csv
sigmab-by-phenotype.png
significant-snps.csv
