5kbdownstream-snps.txt
5kbdownstream.grm.N.bin
5kbdownstream.grm.bin
5kbdownstream.grm.id
5kbupstream-snps.txt
5kbupstream.grm.N.bin
5kbupstream.grm.bin
5kbupstream.grm.id
Exon-snps.txt
Hypersensitivitysite-snps.txt
Intergenic-snps.txt
Intron-snps.txt
exon.grm.N.bin
exon.grm.bin
exon.grm.id
hypersensitivity.grm.N.bin
hypersensitivity.grm.bin
hypersensitivity.grm.id
intergenic.grm.N.bin
intergenic.grm.bin
intergenic.grm.id
intron.grm.N.bin
intron.grm.bin
intron.grm.id
multi_grm.txt
